<div class="div-update">
  <h1>Update Account Information</h1>

  <form action="/account/update/<%= account.account_id %>" method="POST" class="account-update-form">
    <label for="account_firstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" value="<%= account.account_firstname %>" required>

    <label for="account_lastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" value="<%= account.account_lastname %>" required>

    <label for="account_email">Email</label>
    <input type="email" id="account_email" name="account_email" value="<%= account.account_email %>" required>

    <button type="submit">Update Account</button>
  </form>

  <a href="/account/management" class="">← Back to Account Management</a>
</div>