<header id="top-header" class="top-header">
  <span class="site-name">
    <a href="/" title="Return to Home Page">CSE Motors</a>
  </span>

  <div id="tools" class="tools">
    <% if (locals.account_firstname) { %>
      <a href="/account/management" title="Go to Account Management">
        Welcome <%= account_firstname %>
      </a>
      <a href="/account/logout" title="Log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Log in">My Account</a>
    <% } %>
  </div>
</header>


